!!! 5
head
  link(href='http://randylubin.com/stylesheets/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/styleB.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Domine', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(type='text/javascript', src='/js/bootstrap.min.js')
  script(type='text/javascript', src='/js/bootstrap-tab.js')
  script(type='text/javascript', src='/js/bootstrap-trans.js')
  script(type='text/javascript', src='/js/mainjs.js')

  body.test
    .container
      .row.topBit
        .span1.offset2.left
          .picBorder
            img.pic(src='http://randylubin.com/img/profile.gif')
        .span5
          .accentText
            h1 Randy Lubin
            h2 Consulting Entrepreneur
      .row
        .navS.span1.offset2.accentText.left
          p Blog
          p Twitter
          p Projects
          p Bio
        .span5
          p
            | I love how technology improves how people live, work, and play. The  rate	of	innovation	is	accelerating,	disrupting	every
            | industry	and	creating	enormous	value	– I	try to drive	this disruption.
          p
            | Most  recently	I	was COO of	Meetings.io and	negotiated	its	acquisition by	Jive	Software. In my spare time, I code up little experiments, hike, and play guitar.
          p
            | I grew up in Livingston, NJ and went to Washington University in St. Louis for undergrad. I graduated from Stanford's MBA program in 2011.
  script 
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21059307-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();