head
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script(type='text/javascript', src='/js/bootstrap.min.js')
	script(type='text/javascript', src='/js/bootstrap-tab.js')
	script(type='text/javascript', src='/js/bootstrap-trans.js')
	script(type='text/javascript', src='/js/mainjs.js')

body
	.container
		.row
			.span10
				h1.center Randy Lubin's Meeting Room
				iframe(width="800", height="600", src="http://meetings.io/embed?room=9oq", frameborder="0", allowfullscreen)
				
