head
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script(type='text/javascript', src='/js/bootstrap.min.js')
	script(type='text/javascript', src='/js/bootstrap-tab.js')
	script(type='text/javascript', src='/js/bootstrap-trans.js')
	script(type='text/javascript', src='/js/mainjs.js')

body(style="width:100%;")
	div(style="margin: 0 auto 0 auto; text-align: center;")	
		h1(style="margin: 30px auto 30px auto; text-align: center;") Randy's Meeting Room
		div(style="margin: 0 auto 0 auto;")
			iframe(width="900", height="700", src="http://meetings.io/embed?room=9oq", frameborder="0", allowfullscreen)
				