body
  background-color: #174a75
  color: beige
  font-family: 'Source Sans Pro', sans-serif
  position: absolute


p
  font-size: 1.5em
  line-height: 1.5em
  font-family: 'Source Sans Pro', sans-serif

a:link, a:visited
  color: #FFD8A3

a:hover
  color: #A66C1D
  text-decoration: none

li a
  font-size: 1.4em

h1
  font-size: 2.7em
  color: beige

h2
  font-size: 2.3em
  margin-top: -9px

.accentText
  color: #ffcd8c

.topBit
  font-family: 'Droid Serif', serif;
  //font-family: 'Glegoo', serif;
  margin-top: 100px
  margin-bottom 15px

.navS p
  font-size: 1.35em
  font-family: 'Droid Serif', serif;
  //font-family: 'Glegoo', serif;
  margin-top: 1px
  margin-bottom: 12px

.accentText a:link, .accentText a:visited
  color: #ffcd8c
  font-size: 1.4em

.accentText a:hover
  color: #A66C1D
  text-decoration: none 
  font-size: 1.4em

.pic
  width: 85px
  height: 85px
  background-color: grey
  margin-top: 7%;
  margin-left: 18%

  -webkit-border-radius: 100px
  border-radius: 100px
  //-webkit-box-shadow: 0px 0px 0px 2px #F5F5DC
  //box-shadow: 0px 0px 0px 2px #F5F5DC

.left
  margin-right: 20px
  width: 90px

.slightIndent
  margin-left: 10px
  margin-bottom: 10px

.projectHeading
  margin-top: -5px

.tabletPadding
  height: 18px