body {
  background-color: #174a75;
  color: #f5f5dc;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
}
p {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
}
a:link,
a:visited {
  color: #ffd8a3;
}
a:hover {
  color: #a66c1d;
  text-decoration: none;
}
li a {
  font-size: 1.4em;
}
h1 {
  font-size: 2.7em;
  color: #f5f5dc;
}
h2 {
  font-size: 2.3em;
  margin-top: -9px;
}
.accentText {
  color: #ffcd8c;
}
.topBit {
  font-family: 'Droid Serif', serif;
  margin-top: 100px;
  margin-bottom: 15px;
}
.navS p {
  font-size: 1.35em;
  font-family: 'Droid Serif', serif;
  margin-top: 1px;
  margin-bottom: 12px;
}
.accentText a:link,
.accentText a:visited {
  color: #ffcd8c;
  font-size: 1.4em;
}
.accentText a:hover {
  color: #a66c1d;
  text-decoration: none;
  font-size: 1.4em;
}
.pic {
  width: 85px;
  height: 85px;
  background-color: #808080;
  margin-top: 7%;
  margin-left: 18%;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.picMob {
  width: 270px;
  height: 270px;
  margin-top: -40px;
  margin-left: 10%;
  margin-bottom: 10%;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}
.left {
  margin-right: 20px;
  width: 90px;
}
.slightIndent {
  margin-left: 10px;
  margin-bottom: 10px;
}
.projectHeading {
  margin-top: -5px;
}
.tabletPadding {
  height: 18px;
}
