body

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color steelblue
  background-image url("/img/blueback.gif")
  background-repeat repeat


p{
  font-size: 1.2em;
}

hr{
  color: black;
  margin-left: 20%;
  margin-right: 20%;
}

.centerBack
  padding-top 40px
  padding-bottom 40px
  background-color whitesmoke
  background-image url("/img/furley_bg.png")
  background-repeat repeat
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;

.profilePic
  -webkit-border-radius 10px
  border-radius 10px
  margin-right 30px

.textShadow{

        text-shadow: 1px 1px 6px #000000;
        filter: dropshadow(color=#000000, offx=1, offy=1);
           
 }

.contentShadow
  
        -webkit-box-shadow  0px 0px 15px 5px #000000
        box-shadow  0px 0px 15px 5px #000000

.picShadow
  -webkit-box-shadow 0px 0px 10px 1px #000000
  box-shadow 0px 0px 10px 1px #000000

.heroOveride
  color #0af
  background-color black
  background-image url("/img/dark_dotted.png")
  background-repeat repeat
  padding-top 30px
  padding-bottom 30px

  text-shadow: 1px 1px 6px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);

.tab-content
  padding-left 20px
  padding-right 20px
